
<ion-navbar *navbar>
  <!--<ion-title>
    Tab 2
  </ion-title>-->
</ion-navbar>

<ion-content class="page4">
  <ion-list>
    <ion-item *ngFor="#cat of categories">
      <a (click)="select(cat)">{{cat.text}}</a>
      <span *ngIf="cat.subcategories" > - </span>
      <a *ngFor="#subcat of cat.subcategories" (click)="select(subcat)" class="subcategories--link">{{subcat.text}}</a>
    </ion-item>
  </ion-list>
  <ion-input [(ngModel)]="inputCategory" placeholder="Category"></ion-input>
  <ion-input [(ngModel)]="inputSubcategory" placeholder="Subcategory"></ion-input>
  <button (click)="inputSubcategory = undefined; inputCategory = undefined">Clear</button>
  <button (click)="save(inputCategory, inputSubcategory)">Save</button>
  <button (click)="delete()" *ngIf="selectedCategory" >Delete {{selectedCategory.text}}</button>
</ion-content>
