ion-tabs ion-navbar-section { 
    display: none; 
}
.spendings-list-item ion-label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.spendings-list-item--row {
    padding: 0;
}