<ion-navbar *navbar>
  <!--<ion-title>
    Spendings <ion-icon name="cash"></ion-icon>
  </ion-title>-->
</ion-navbar>

<ion-content class="page3">
  <!--<button block (click)="openSpendingCategory()">
    Spent money for what?
  </button>
  <ion-item>
    {{selectedSpendingCategory}}
  </ion-item>-->
  <div style="display: flex;">
    <div class="categoryButtons">
      <button (click)="selectCategory(cat)" *ngFor="#cat of categories" [ngClass]="{buttonActive: cat === selectedSpendingCategory}">
      {{cat}}
    </button>
    </div>
    <div class="subCategoryButtons">
      <button class="buttonSubcategories" (click)="selectSubCategory(subcat)" *ngFor="#subcat of subCategories" [ngClass]="{buttonActive: subcat === selectedSpendingSubCategory}">
      {{subcat}}
    </button>
    </div>
  </div>
  <!--<button (click)="selectCategory(cat)" *ngFor="#cat of categories"
    [ngClass]="{buttonActive: cat === selectedSpendingCategory}" >
    {{cat}}
  </button>-->
  <div class="dateInput">
    <button (click)="showDatePicker()">
      Date
    </button>
    <ion-item style="width: 130px">
      <ion-input [(ngModel)]="selectedDate"></ion-input>
    </ion-item>
  </div>
  <ion-item style="width: 130px;">
    <ion-input placeholder="€" type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>
</ion-content>

<ion-toolbar position="bottom" dark>
  <!--<ion-buttons middle>-->
  <button (click)="submitSpending()">
      Submit
      <ion-icon name="send"></ion-icon>
    </button>
  <!--</ion-buttons>-->
</ion-toolbar>